# Large and, not needed, or private files
gtex-cell-instances.csv.gz
GTEx_8_tissues_snRNAseq_atlas_071421.public_obs.h5ad
hra-worfklows-runner-setup.ipynb
annotations/__pycache__/
hwr
gtex
eval "$(ssh-agent -s)"
eval "$(ssh-agent -s)".pub

annotations/*.json